numpy==2.0.2
matplotlib==3.10.0
pandas==2.2.3
scikit-learn==1.6.1
seaborn==0.13.2
tensorflow==2.18.0
dm-tree==0.1.8 
tensorflow_datasets==4.9.7
jupyterlab==4.3.5
jupyter-book==1.0.3
jupyterlab_rise==0.43.1
astroML==1.0.2.post1
nbdime==4.0.2
boto3==1.36.15
pyarrow==19.0.0
pyspark==3.5.4
pyppeteer==2.0.0
dvc==3.59.0